<form id="signup-form">
  <h2>Sign Up</h2>
  <input type="text" id="username" placeholder="Username">
  <input type="password" id="password" placeholder="Password">
  <button type="submit">Sign Up</button>
</form>
